@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;
	font-family: 'Roboto', sans-serif;
}

li,
a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgba(237, 240, 241, 0.7);
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	grid-column: 1 / -1;
	grid-row: 1;
}

footer {
	background: #111;
	height: auto;
	width: 100vw;
	padding-top: 40px;
	color: #fff;
	grid-column: 1 / -1;
	grid-row: 3;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14 px;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 2rem 0;
}

.socials li {
	margin: 0 10px;
}

.socials a {
	text-decoration: none;
	color: #fff;
}

.socials a i {
	font-size: 1.1rem;
}

.socials a:hover i {
	color: #0088a9;
}

.footer-bottom {
	color: #000;
	width: 100vw;
	padding: 10px 0;
	text-align: center;
}

.footer-bottom p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
	padding: 0px 0px 15px 15px;
	margin: 20px;
	color: #edf0f1;
}

p {
	font-size: 24px;
	padding: 0px 0px 15px 15px;
	color: #edf0f1;
}

.logo {
	cursor: pointer;
	/* height: 50px; */
}

.about {
	display: grid;
	grid-template-columns: 33% 60%;
	height: 93vh;
	width: 97vw;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

/* #meida {
	grid-column: 1;
}

#intro {
	grid-column: 2;
} */

.about img {
	border-radius: 50%;
	padding-left: 30px;
	width: 95%;
}

.container{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	row-gap: 30px;
}

.project {
	grid-column: 2;
}

.project img {
	width: 90%;
	padding: 20px;
	margin: 50px 10px;
	border: 2px solid #000;
}

aside {
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	font-style: italic;
  }


.gallery {
	display: grid;
	grid-template-columns: 40% 40%;
	grid-template-rows: auto;
	gap: 20px;
	justify-items: center;
	justify-content: center;
	align-items: center;
}

.gallery .media {
	border: 2px white solid;
}

.gallery img {
	transition: 0.4s;
	width: 100%;
}

.gallery img:hover {
	transform: scale(1.2);
	z-index: 3;
}

.post_card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-template-rows: auto;
	gap: 10px;
	justify-items: center;
	justify-content: center;
	align-items: center; */
}

.post_card p {
	width: 30vw;
	margin: 10px;
	text-align: center;
}

.post_card img {
	/* width: 95%; */
	width: 30vw;
	margin: 10px;
}

#my_trip {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	/* padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px; */
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #0088a9;
	/* background-color: rgba(0, 136, 169, 0.8); */
}

#current {
	color: rgba(237, 240, 241, 1);
	text-decoration: underline;
}

.description {
	content: "";
	background-image: url(../images/ltotbngnzzu.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	/* background-color: transparent;
	color: #24252A; */
}

.logo {
	animation: logo 4s;
	position: relative;
}

@media (prefers-reduced-motion: reduce) {
    .logo {
        animation: none;
    }
}

@keyframes logo {
	0% {
		transform: rotate(0deg);
		left: 0px;
	}
	25% {
		transform: rotate(30deg);
		left: 0px;
	}
	50% {
		transform: rotate(0deg);
		left: 300px;
	}
	55% {
		transform: rotate(0deg);
		left: 300px;
	}
	70% {
		transform: rotate(0deg);
		left: 300px;
	}
	100% {
		transform: rotate(-360deg);
		left: 0px;
	}
}


@media all and (max-width: 800px) {
	.post_card p {
		width: 90vw;
		margin: 10px;
		text-align: center;
	}
	
	.post_card img {
		/* width: 95%; */
		width: 90vw;
		margin: 10px;
	}
	.gallery {
		display: grid;
		grid-template-columns: 85%;
		grid-template-rows: auto;
		gap: 20px;
		justify-items: center;
		justify-content: center;
		align-items: center;
	}
}